@media screen and (min-width: 1024px) {
    /* Estilos para tablets */
  }
  @media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
      font-family: var(--fonte-secundario);
      font-size: 30px;
    }
  }
  .container__titulo {
    font-weight: 400;
  }
  
  .container__titulo--negrito {
    font-weight: 700;
  
    }
  
    /* Código omitido */
    .container__titulo {
      font-weight: 400;
      display: block;
    }
  }
  .container__titulo {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .opções {
      display: flex;
    }
  }
    .opções_item {
      padding: 0 1em;
      text-transform: uppercase;
    } 
    .opções__link {
      text-decoration: none;
      color: var(--preto);
    }
  }
    .container__imagem-transparente {
      display: none;
    }
  }
    .cabeçalho__menu-hamburguer {
      display: none;
    }
  }
    .opções_botão:checked ~ .lista-menu {
      display: block;
      width: auto;
    }
  
    /* Código omitido */
  }
  @media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .opções_botão {
      display: none;
    }
    /* Código omitido */
  }
   