
root {
--branco-principal: #FFFFFF;
--cinza-secundario: #C0C0C0;
-botao-azul: #167BF7;
-cor-de-fundo: #00030C;
.container {
 height: 100vh;
 background-repeat: no-repeat;}
body {
background-color: var(--cor-de-fundo);
margin: 0;
padding: 0;
}
.principal {
background-image: url("img/Background.png");
background-size: contain;
}
.container__botao {
background-color: var(--botao-azul);
border-radius: 5px;
padding: 1em;
color: var(--branco-principal);
 display: block;
}
.container {
height: 100vh;
display: grid;
 grid-template-columns: 50% 50%;
}
botao_secundario;{ 
background-color:transparent;
border: 2px solid var(--branco-principal)
}
.container__aviso {
font-size: 12px;
 color: var(--cinza-secundario);
}
.container__imagem {
  margin: 1em 0 2em 0;
}
.container__caixa {
 margin: 0 6em;
}
background-image: url("img/Background.png");
background-repeat: no-repeat;
background-size: contain;
align-items: center;
text-align: center;
.lista-menu__titulo: 

.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo {
    color: var(--laranja);
  }
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  .lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
  }
  border-radius: 0 0 20px 20px;
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    border-radius: 0 0 20px 20px;
  }
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    border-radius: 0 0 20px 20px;
    background-color: var(--branco);
  }
  .lista-menu__titulo,
  .lista-menu__item {
    padding: 1em;
  }
  body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;{
}
.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
  }
  .container__botao {
    display: none;
}
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
.swiper-slide img {
}
.swiper-slide img {
  width: 100%;
}
